hbox, box[orient="horizontal"], row {
	box-align: center;
	-moz-box-align: center;
}

checkbox {
	box-flex: 1;
	-moz-box-flex: 1;
}

separator
{
	height: 0;
	border: thin -moz-bg-inset;
	margin-left: 0.5em;
	margin-right: 0.5em;
}

.scrollbox
{
	border: thin -moz-bg-inset;
	overflow: auto;
}
